body {
    padding-top: 80px; 
}

a {
    cursor: pointer;
}

#signin {
    margin-top: 20px;
}

.indent {
    margin-bottom: 10px;
}

.search {
    position: relative;
    font-size: 24px;
}

.search-input {
    width: 100%;
}

.search .fa-search {
    position: absolute;
    top: 8px;
    right: 8px;
}

.product {
    height: 100px;
    max-height: 100px;
}

.product a, .product span {
    display:table-cell; 
    vertical-align: middle;
}

.product span {
    text-align: center;
}

.product div{
    display: table;
    table-layout: fixed;
    height: 100px;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
}

.tracked {
    background: lightgreen;
}

.product-panel h5 {
    text-align: center;
}

.product-panel i {
    text-align: center;
    font-size: 24px;
}

.product-panel i {
    text-align: center;
    font-size: 24px;
}

.remove-cross {
    color: red;
}

.remove-cross:hover {
    color: darkred;
}

.add-plus {
    color: green;
}

.add-plus:hover {
    color: darkgreen;
}

.table-placeholder {
    font-size: 48px;
    color: lightgray;
}

.track-icon {
    color: goldenrod;
}

.not-track-icon {
    color: saddlebrown;
}

.notification-setting-panel {
    padding: 16px;
}

.notification-status {
    font-size: 24px;
    color: lightgray;
}

.twitter-button:hover, .twitter-button:active, .twitter-button:visited {
    background: #00aced;
    color: white;
}

.fb-button:hover, .fb-button:active, .fb-button:visited {
    background: #3b5998;
    color: white;
}

.vk-button:hover, .vk-button:active, .vk-button:visited {
    background: #45668e;
    color: white;
}

.social-button{
    background: #999999;
    transition: background 0.2s;
    transition: color 0.2s;
    color: #444444;
}

