body {
    padding-top: 80px; 
}

a {
    cursor: pointer;
}

#signin {
    margin-top: 20px;
}

.indent {
    margin-bottom: 10px;
}

.search {
    position: relative;
    font-size: 24px;
}

.search-input {
    width: 100%;
}

.search .fa-search {
    position: absolute;
    top: 8px;
    right: 8px;
}

.product {
    height: 100px;
    max-height: 100px;
}

.product a, .product span {
    display:table-cell; 
    vertical-align: middle;
}

.product span {
    text-align: center;
}

.product div{
    display: table;
    table-layout: fixed;
    height: 100px;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
}

.tracked {
    background: lightgreen;
}

.product-panel h5 {
    text-align: center;
}

.product-panel i {
    text-align: center;
    font-size: 24px;
}

.product-panel i {
    text-align: center;
    font-size: 24px;
}

.remove-cross {
    color: red;
}

.remove-cross:hover {
    color: darkred;
}

.add-plus {
    color: green;
}

.add-plus:hover {
    color: darkgreen;
}

.table-placeholder {
    font-size: 48px;
    color: lightgray;
}