@model OAuth2.Models.UserInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
</head>
<body>
<div>
    @Model.FirstName
    <br/>
    @Model.LastName
    <br />
    @Model.AvatarUri
    <br />
    @Model.Id
</div>
</body>
</html>
