<div ng-include="'app/views/navbar.html'"></div>

<div class="container body-content">
    <div class="row indent">
        <div class="col-md-12">
            <div class="search">
                <i class="fa fa-search"></i>
                <input class="search-input" type="form-control" ng-change="search()" ng-model="searchQuery" placeholder="Enter a product name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-md-6">
                        <h5>Name</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Lowest price</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Highest price</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <div infinite-scroll="more()">
                        <div ng-repeat="n in products track by $index">
                            <div class="row">
                                <div class="col-md-6">
                                    <a ng-href={{n.html_url}}>{{n.full_name}}</a>
                                </div>
                                <div class="col-md-2">
                                    {{n.prices.min | currencyFilter:currentRate}}
                                </div>
                                <div class="col-md-2">
                                    {{n.prices.max | currencyFilter:currentRate}}
                                </div>
                                <div class="col-md-2">
                                    <a ng-click="addProduct(n.id)">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-lg-center">
            <a ng-click="more()">
                <span>More</span>
            </a>
        </div>
    </div>
</div>

