<div ng-include="'app/views/navbar.html'"></div>

<div class="container body-content">
    <div class="row indent">
        <div class="col-md-12">
            <div class="search">
                <i class="fa fa-search"></i>
                <input class="search-input" type="form-control" ng-change="search()" ng-model-options="{ debounce: 300 }" ng-model="searchQuery" placeholder="Enter a product name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-switch="products == null">
            <div class="panel panel-default product-panel" ng-switch-when="false">
                <div class="panel-heading row">
                    <div class="col-md-2 col-lg-offset-7">
                        <h5>Lowest price</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Highest price</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <div infinite-scroll="more()">
                        <div ng-repeat="n in products track by $index">
                            <div class="row">
                                <div class="product indent" ng-class="{'tracked' : trackedIds.indexOf(n.id) > -1}">
                                    <div class="col-md-2">
                                        <img class="product-image" ng-src={{n.images.header}} ng-show="n.images.header">
                                    </div>
                                    <div class="col-md-5">
                                        <a ng-href={{n.html_url}}>{{n.full_name}}</a>
                                    </div>
                                    <div class="col-md-2">
                                        <span>{{n.prices.min | currencyFilter:currentRate}}</span>
                                    </div>
                                    <div class="col-md-2">
                                        <span>{{n.prices.max | currencyFilter:currentRate}}</span>
                                    </div>
                                    <div class="col-md-1" ng-switch="trackedIds.indexOf(n.id) > -1">
                                        <a class="add-plus" ng-switch-when="false" ng-click="addProduct(n.id)"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                                        <a class="remove-cross" ng-switch-when="true" ng-click="delProduct(n.id)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when="true">
                <div class="row">
                    <div class="col-md-12 text-lg-center">
                        <span class="table-placeholder">Nothing to show.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

