<nav class="navbar navbar-dark bg-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home/">OnlinerNotifier</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a class="nav-link" href="/#/account">
                    <img ng-src={{avatarUri}}>
                    <b>{{name}}</b>
                </a>
            </li>
        </ul>
    </div>
</nav>